<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="Timss" connectionString="DATA SOURCE=TPRO;PASSWORD=gompers;PERSIST SECURITY INFO=True;USER ID=TIMSS" providerName="Oracle.ManagedDataAccess.Client"/>
  </connectionStrings>
  <!--<configSections>
    <section name="LocalSettings" type ="UniteHere.eMemberRegAppWeb.LocalSettingsConfig"/>
  </configSections>
  <LocalSettings configSource="LocalSettings.config" />-->
</configuration>