<?xml version="1.0"?>
     <DiscardReasonSettings>
            <DiscardReasons>
                    <add Code="LONG_NAME" Description="Name longer than acceptable" />
                    <add Code="INVALID_STATE" Description="Invalid State abbreviation" />
                    <add Code="DUPL_RECORD" Description="Duplicate Record" />
                    <add Code="INVALID_SELFPAY" Description="Wrong SelfPay selection" />
            </DiscardReasons>
      </DiscardReasonSettings>
