<?xml version="1.0" encoding="utf-8" ?>
<LocalSettings
             localNumber="0309"
             customerClass="IND"
             customerStatus="ACTIVE"
             secongLanguageColumn="USER_T2"
             raceColumn="USER_T3"
             tipStartDateColumn="USER_D1"
             tipAmountColumn="USER_N1"
            duesCardsPath="E:\__DEV\UniteHere.eMemberRegApp\UniteHere.eMemberRegAppWeb\DuesCardFiles"
             timssDuesCardsPath="\\server2008\DuesCards"
             duesCardsHistoryPath="\\server2008\DuesCards_History">
  <smsOptIn trackingAs="PHONE" phoneType="TXCELL" userFlag=""></smsOptIn>
  <!--<smsOptIn trackingAs="CUSTOMER" phoneType="" userFlag="USER_F9"></smsOptIn>-->
  <studentFlag  tableName="CUSTOMER" userFlag="USER_F15"></studentFlag>
</LocalSettings>
<!--duesCardsPath="C:\__RajValluru\_Work\_Projects\UniteHere.eMemberRegApp\UniteHere.eMemberRegAppWeb\DuesCardFiles"-->
<!--duesCardsPath="E:\__DEV\UniteHere.eMemberRegApp\UniteHere.eMemberRegAppWeb\DuesCardFiles"-->
