@using Microsoft.AspNet.Identity
@using System.Security.Claims

@if (Request.IsAuthenticated) {
    var role = ((System.Security.Claims.ClaimsPrincipal)User).Claims.FirstOrDefault(c => c.Type == ClaimTypes.Role).Value;
    if (role == "Super_Admin" || role == "Local_Admin") {

                    <li><hr /></li>
                    <li>@Html.ActionLink("ErrorLog", "GetErrorLog", "Report", routeValues: null, htmlAttributes: null)</li>
      
    }
}
