@{
    ViewBag.Title = "About";
}
<div class="jumbotron">
    <h1>eMembership</h1>
    <p class="lead">eMembership is a UNITEHERE application to allow new members to electronically register. </p>
    <p class="lead">Existing members can electronically sign their dues card. </p>

</div>